<!DOCTYPE html>
<html>

<head>
  <title>Book App with David and Evan</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="styles/reset.css" type="text/css" rel="stylesheet" />
  <link href="styles/base.css" type="text/css" rel="stylesheet" />
  <link href="styles/layout.css" type="text/css" rel="stylesheet" />
  <link href="styles/modules.css" type="text/css" rel="stylesheet" />
  <link href="styles/icons.css" type="text/css" rel="stylesheet" />
</head>

<body>
  <main id="search-page">
    <h1>Search by Title or Author</h1>

    <form action="/search-for-books" method="post">
      <input type="text" name="search" placeholder="Enter a Title or Author" required="required" />
      <fieldset>
        <label>
          <input type="radio" name="search" value="title" required="required" />
          <span>Title</span>
        </label>
        <label>
          <input type="radio" name="search" value="author" required="required" />
          <span>Author</span>
        </label>
      </fieldset>
      <button type="submit">Search Google Books</button>
    </form>
  </main>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
</body>

</html>