<!DOCTYPE html>
<html>
<head>
  <title>Book App with David and Evan</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="styles/reset.css" type="text/css" rel="stylesheet" />
  <link href="styles/base.css" type="text/css" rel="stylesheet" />
  <link href="styles/layout.css" type="text/css" rel="stylesheet" />
  <link href="styles/modules.css" type="text/css" rel="stylesheet" />
  <link href="styles/icons.css" type="text/css" rel="stylesheet" />
</head>
<body>
  <h1>Proof of life</h1>
<script>
  console.log(__dirname);
</script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</body>
</html>