html {
  background: rgb(182, 232, 255);
}

body {
  font-size: 16px;
}

main {
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
}

input, select {
  display: block;
  width: 80%;
  border-radius: 5px;
  padding-left: 1em;
  height: 2em;
  margin: 1em auto;
}

button {
  float: left;
  width: 45%;
  height: 2em;
  margin-left: 2.5%;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 3px black;
  margin-top: 1em;
  margin-bottom: 1em;
}