main {
    margin-bottom: 5em;
}

main#search-page h1 {
    margin-top: 25px;
}

main#search-page input[type="text"] {
    width: 80%;
    display: block;
    margin: 25px auto 0;
}

main#search-page label {
    width: 80%;
    display: block;
    margin: 25px auto 0;
}

main#search-page button {
    width: 80%;
    display: block;
    margin: 25px auto;
    float: none;
}

main#search-page label {
    display: block;
}

main#search-page input[type="radio"] {
   margin: 0;
}

main > p {
    text-align: center;
    margin-top: .5em;
}

ul {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

li {
    margin: 2.5em 0;
}